.meta {
  width: 90%;
  max-width: 720px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0 0 0;
}

.meta__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;;

  img {
    margin-right: 24px;
    display: none;
    border-radius: 100%;
  }
}

.meta__content {
  text-align: left;
  font-family: 'Satoshi-Medium';
  display: flex;
  flex-direction: column;

  p {
    padding: 16px 0;
    font-size: 1rem;
    color: #191919;
    opacity: 0.75;
    line-height: 25px;
  }

  a {
    padding: 8px 0;
    text-decoration: underline;
  }

  .meta__name-link {
    color: #191919;
    font-size: 1.2rem;
    
    a {
      color: #191919;
      font-size: 1.2rem;
    }
  }

  a:first-child {
    color: #0F4BF1;
    font-size: 1rem;
    margin-top: 16px;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.meta__title {
  font-family: 'Satoshi-Medium';
  font-size: 1rem !important;
  color: #191919;
  padding-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.meta__valorate {
  font-family: 'Satoshi-Medium';
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 2rem;    
}

.meta__valorate--btn {
  font-size: .95rem;
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #191919 !important;;
  opacity: .65;
  transition: .2s;

  span {
    margin-right: 8px;
  }

  &:hover {
    opacity: 1;
    text-decoration: none !important; // Revise
  }
}

@media #{$breakpoints-medium} {
  .meta__author {
    img {
      display: block;
    }
  }
}