/* Error: unmatched "}".
 *     ,
 * 226 | }
 *     | ^
 *     '
 *   scss/components/_main.scss 226:1  @import
 *   scss/main.scss 46:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a     \2577 \a 226 \2502  }\a     \2502  ^\a     \2575 \a   scss/components/_main.scss 226:1  @import\a   scss/main.scss 46:9               root stylesheet';
}
