/* Error: expected "{".
 *     ,
 * 140 |     font-size: 1rem;animation-iteration-count;
 *     |                                              ^
 *     '
 *   scss/components/_wrap.scss 140:46  @import
 *   scss/main.scss 42:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 140 \2502      font-size: 1rem;animation-iteration-count;\a     \2502                                               ^\a     \2575 \a   scss/components/_wrap.scss 140:46  @import\a   scss/main.scss 42:9                root stylesheet';
}
