.colabora {
  width: 90%;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  padding: 32px 16px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  color: black;
  background: white;

  a {
    margin-top: 2rem;
    background: #191919;
    color: white;
    text-decoration: none;
    padding: 12px 32px;
    font-family: "Satoshi-Bold";
    font-size: 18px;
    display: inline-block;
    border-radius: 4px;
  }
}

.colaora__title {
  text-align: center;
}


@media #{$breakpoints-large} {
  .colabora {
    display: none;
  }
}
