
.wrap--login {
  height: calc( 100vh - 70px );
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 400px;
  max-width: 90%;

  h2 {
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 24px;
  }

  h2,
  p {
    color: white;
    text-align: left;
  }
  
  .description {
    opacity: .4;
    font-size: 16px;
    line-height: 24px;
  }

  input[type="password"],
  input[type="text"] {
    margin: 8px 0;
    width: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, .021);
    border: 1.5px solid transparent;
    color: white;
    padding: 1rem;
    font-size: 1rem;


    &:focus {
      border-color: white;
    }

  }

  input[type="submit"] {
    background: white;
    color: black !important;
    margin: 16px 0;
  }
}

.login__container {
  width: 100%;
}

.login__links {
  margin-top: 12px;

  a {
    display: block;
    margin: 0 0 6px 0;
    opacity: .6;
    transition: .4s;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}