
.wrap--login {
  height: calc( 100vh - 70px );
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 400px;
  max-width: 90%;

  h2 {
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 24px;
  }

  h2,
  p {
    color: white;
    text-align: left;
  }
  
  .description {
    opacity: .4;
  }
  
  input[type="password"],
  input[type="text"] {
    margin: 8px 0;
    width: 100%;
    border-radius: 4px;
    background: rgba(255, 255, 255, .021);
    border: 0;
    color: white;
    padding: 1rem;
    font-size: 1rem;

  }

  input[type="submit"] {
    background: white;
    color: black !important;
    margin: 16px 0;
  }
}

.login__container {
  width: 100%;
}