$main-color: $color-dark-gray;
$main-font-family: $font-body;
$main-title-font-family: $font-heading;
$main-a-color: $color-corporative;
$main-blockquote-font-family: 'Satoshi-Bold';


.main {
  font-family: $font-main;
  font-style: normal;

  color: #242424;
  font-size: 22px;
  line-height: 32px;

  img {
    @extend .flash;

    display: block;
    margin: 32px 0;
    max-width: 100%;
    border-radius: 4px;
  }

  iframe,
  embed {
    max-width: 100%;
    width: 100%;
    height: 480px;
  }
  
  div,
  p,
  ul,
  ol {
    display: block;
    margin-bottom: 32px;
   //max-width: 100%;
  }

  div {
    margin: 2rem 0;
  }

  hr {
    border: 0;
    height: 1px;
    background: #f0f0f0;
  }

  p,
  h2,
  h3,
  h4,
  h5 {
    padding-bottom: 16px;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.85rem;
  } 

  h4 {
    font-size: 1.5rem;
  } 
  
  h5 {
    font-size: 1.25rem;
  } 

  h2,
  h3,
  h4,
  h5 {
    color: $color-black;
    font-weight: bold;
    font-style: italic;
    padding-top: 24px;
    margin-bottom: 8px;
  }

  ul,
  ol {
    padding: 16px 0 24px 1.25rem;

    li {
      padding: 0 0 8px 0;
    }
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  b,
  strong {
    font-weight: bold;
  }

  i,
  em {
    font-style: italic;
  }

  a {
    color: $main-a-color;
    text-decoration: none;
    position: relative;
    &:hover {
      text-decoration: underline;
    }
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;

    &:before {
      content: '';
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 2px;
      height: 1px;
      background: #ccc;
      display: block;
      transition: width .2s;
    }

    &:after {
      content: '';
      width: 0;
      position: absolute;
      left: 0;
      bottom: 2px;
      height: 1px;
      background: $color-black;
      display: block;
      transition: all .2s;
    }

    &:hover {
      color: black;
      
      &:after {
        width: 100%;
      }

      &:before {
        width: 0;
      }
    }
  }

  blockquote {
    color: black;
    font-family: $main-blockquote-font-family;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    background: #fbfbfb;
    padding: 2rem 2rem;
  }

  .wp-caption-text {
    font-family: $font-heading;
    font-size: .85rem;
    font-style: italic;
    line-height: 1.3rem;
    margin: 0 0 1rem 0;
    text-align: center;

    a {
      color: $color-dark-gray;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.wp-block-image figcaption {
  opacity: .85;
  text-align: center;
  font-size: .75rem;
  line-height: 1.1rem;
  margin-bottom: 24px;
  transform: translateY(-12px);
}

.main__title {
  font-family: 'Satoshi-Bold';
  color: black;
  font-size: .85rem;
  padding: 0 !important;
  margin: 0 !important;
}

@media #{$breakpoints-medium} {
    blockquote {
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    .wp-block-image {
      transform: translateX(-16px);
      width: calc( 100% + 16px * 2 );

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media #{$breakpoints-large} {
  .main {
    img {
      margin: 64px 0;
    }

    .wp-block-image {
      transform: translateX(-84px);
      width: calc( 100% + 84px * 2 );

      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }

  .wp-block-image figcaption {
    transform: translateY(-84px);
  }
}

.google-auto-placed {
  background: #f9f9f9;
  padding: 0.5rem;
}
