$page-search-padding: 60px;

.page-search {
  position: fixed;
  top: 0;
  left: 0;
  bottom: $page-search-padding;
  height: calc( 100% - #{$page-search-padding} );
  width: 100%;
  z-index: 100;
  overflow-y: scroll;
  background: #f0f0f0;
}

.page-search__content {
  padding: 20px;

  input {
    background: $color-white;
    border-radius: 4px;
    border: 2px solid transparent;
    box-sizing: border-box;
    color: $color-dark-gray;
    display: block;
    font-size: 1rem;
    padding: 1.25rem 1rem;
    transition: border .2s;
    width: 100%;

    &:focus {
      border: 2px solid $color-corporative;
      background: $color-white;
      color: $color-black;
    }
  }
}

.page-search__subtitle {
  color: $color-ligth-gray;
  font-family: $font-body;
  padding: 2rem 0;
}

.page-search__list {
  li {
    a {
      background: $color-white;
      color: $color-dark-gray;
      display: block;
      font-family: $font-body;
      padding: 1rem 1rem;
      text-decoration: none;
      margin-bottom: .25rem;
      transition: color .2s, background .2s;

      &:hover {
        background: $color-corporative;
        color: $color-white;
      }
    }
  }
}

.nav-oculto {
  display: none;
}

.nav-oculto-active {
  display: block;
}

.btn-mobile-active {
  color: $color-corporative;

  .icon {
    fill: $color-corporative;
  }
}
