.product {
  max-width: 1280px;
  margin: 4rem auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 18px;

  img {
    max-width: 100%;
  }
}

.product__precio {
  font-family: 'Satoshi-Medium';
  font-size: 1.2rem;
}

.product__main {
  padding: 4rem 0;
}

.product__btn {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.15rem;
  display: inline-block;
  padding: 16px 24px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

@media #{$breakpoints-medium} {
  .product {
    flex-flow: row nowrap;
  }

  .product__content {
    flex: 0 1 60%;
  }

  .product__sidebar {
    flex: 0 1 30%;
    display: flex;
    flex-flow: column;
  }

  .product__sticky {
    position: sticky;
    top: 20%;
  }
}
