.wrap {
  width: 90%;
  max-width: 1280px;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.wrap--list {
  .wrap__box {
    flex: 0 1 100%;
    display: flex;
    flex-flow: row wrap;

    .home__post {
      flex: 0 1 50%;
    } 
  }
}

.wrap__box--author {
  .article-list__author {
    display: block;
    font-size: 1.15rem;
    font-family: 'Satoshi-Medium';
    opacity: .5;
    padding-top: .5rem;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.wrap__box {
  padding: 0;

  img {
    width: 100%;
    height: auto;
  }

  .article-list {
    max-width: 90%;
  }
}

.acf-field-6375339e513ad,
.acf-field-653b1de787689 {
  visibility: hidden;
  display: none;
}

.wrap__title {
  margin-top: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.wrap__box--news,
.wrap__box--debate {
  flex: 0 1 100%;
  display: flex;
  flex-flow: row wrap;

  .article-list__response {
    display: block;
  }

  .wrap__title {
    flex: 0 1 100%;
  }
  
  .article-list {
    flex: 0 1 50%;

    .article-list__thumb,
    .article-list__content {
      width: 90%;
    }
  }
}

.wrap__box--shop {
  flex: 0 1 100%;
  display: flex;
  flex-flow: row wrap;

  .wrap__title {
    flex: 0 1 100%;
  }
  
  .article-list {
    flex: 0 1 50%;
    
    .article-list__thumb,
    .article-list__content {
      width: 90%;
    }
  }
}

.wrap__box--news {
  .article-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .article-list__thumb {
      flex: 0 1 180px;
      margin-right: 24px;
    }

    .article-list__content {
      max-width: 60%;
    }
  }

  .article-list__date {
    display: block;
    opacity: .4;
  }
}

.wrap__box--news {
  display: flex;
  flex: 0 1 100%;
  flex-flow: row wrap;

  .article-list {
    flex: 0 1 calc(100%/1);
    margin-bottom: 2rem;
  }
}

// Fix

.wrap--signup,
.wrap--createpost {
  display: block;

  input[type="password"],
  input[type="text"],
  textarea {
    border-radius: 4px;
    background: white;
    border: 1px solid #ccc;
    color: $color-black;
    padding: 1rem;
    font-size: 1rem;

    &:focus {
      border-color: $color-black;
    }
  }

  .add_media {
    color: $color-black !important;
  }
}

.wrap--login {
  height: calc( 100vh - 70px );
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;;
  justify-content: center;
  width: 400px;
  max-width: 90%;

  h2 {
    color: white;
    padding: 24px 0;
  }

  input[type="password"],
  input[type="text"] {
    margin: 8px 0;
    width: 100%;
  }

  input[type="submit"] {
    background: white;
    color: black !important;
    margin: 16px 0;
  }
}

.excerp--response {
  display: block;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.2rem;
}

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed {
  max-width: 100% !important;
  background: transparent !important;
}

.mejs-container-keyboard-inactive {
  width: 100% !important;
  max-width: 100% !important;
  background: transparent !important;
}

.acf-label {
  label {
    font-size: 1rem;
  }
  
  .description {
    font-size: .85rem;
    opacity: .8;
  }
}

#grid-contributors {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.single-item {
  flex: 0 1 20%;
  padding-bottom: 24px;
  padding-right: 24px;
}

.author-name {
  padding: 8px 0;
}

@media #{$breakpoints-medium} {
  .wrap__box {
    flex: 0 1 50%;
  }
  
  .wrap__box--news {
    flex: 0 1 100%;

    .article-list {
      flex: 0 1 calc(100%/2);
    }
  }

  .wrap__box--debate,
  .wrap__box--shop {   
    flex: 0 1 100%;

    .article-list {
      flex: 0 1 25%;
    }
  }

  .wrap__box--news {
    margin-top: 4rem;
  }

  // Reviste
  /*.wrap__box--debate {
    .article-list:first-child,
    .article-list:nth-child(6),
    .article-list:nth-child(13) {
      flex: 0 1 50% !important;
    }
  }
  */
}
