$hero-padding: 2rem;

.hero {
  max-width: 1280px;
  margin: 0 auto $hero-padding auto;
  background: $color-black;
  padding: 8rem 1rem;
  text-align: center;
  color: white;
}

.hero__title {
  font-family: 'Satoshi-Bold';
  margin: auto;
  font-size: 3rem;
  font-weight: bold;

  & a {

      display: block;
      position: relative;
      padding: 0.2em 0;
      color: inherit;
      text-decoration: none;

    &:hover {



    }

    &::after {
      &:hover {

        transform: scale(1);
        opacity: 1;
        transform: scale(0);
        transform-origin: center;

      }
    }
    // &:hover::after,
    // &:focus::after{
    // transform: scale(1);
    // text-decoration-color: $color-corporative;
    // }

      /* Fade in */
  &a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  }



}



.hero__description {
  font-family: 'Satoshi-Medium';
  font-size: 24px;
  line-height: 32px;
  padding: 24px 0;
  max-width: 720px;
  margin: auto;
  opacity: .8;
}


@media #{$breakpoints-medium} {
  .hero {
    margin: $hero-padding auto;
    padding: 8rem 4rem;
  }

  .hero__title {
    font-size: 4rem;
    width: 80%;
  }
}
