.hero {
  max-width: 1280px;
  margin: auto;
  background: $color-black;
  padding: 8rem 4rem;
  text-align: center;
  color: white;
}

.hero__title {
  font-family: 'Satoshi-Bold';
  width: 80%;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
}

.hero__description {
  font-family: 'Satoshi-Medium';
  font-size: 24px;
  line-height: 32px;
  padding: 24px 0;
  max-width: 720px;
  margin: auto;
  opacity: .8;
}


@media #{$breakpoints-medium} {
  .hero__title {
    font-size: 4rem;
  }
}
