$destacado-big-title-font-family: $font-heading;
$destacado-sms-font-family: $font-body;

.destacado {
  align-items: center;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.destacado__thumb {
  background: $color-white;
  height: 100%;
  left: 0;
  position: absolute; 
  top: 0;
  transition: background .8s;
  width: 100%;
  z-index: 5;

  img {
    height: 100%;
    object-fit: cover;
    opacity: .3;
    position: absolute;
    width: 100%;

    // black and white-space: 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.destacado__content {  
  margin: auto;
  max-width: $row-min;
  position: relative;
  width: 90%;
  z-index: 10;
}

.destacado__content:hover + .destacado__thumb {
  background: $color-black;

  img {
    opacity: .4;
  }
}

.destacado__content:hover {
  .destacado__big-title,
  .destacado__minipost-title {
    color: $color-white;
  }
}

.destacado__sms {
  background: $color-corporative;
  color: $color-white;
  display: inline-block;
  font-family: $destacado-sms-font-family;
  font-size: .85rem;
  padding: .5rem;
}

.destacado__big-title {
  font-family: $destacado-big-title-font-family; 
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 1rem 0;

  a {
    display: block;
    text-decoration: none;
    transition: opacity .2s;
  }

  a:hover {
    opacity: .9;
  }
}

.destacado__minipost {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 0 0 0;
  justify-content: space-between;
  transition: opacity .5s;
}

.destacado__big-title:hover + .destacado__minipost {
  opacity: 0;
}

.destacado__minipost-box {
  flex: 0 1 30%;
  margin-bottom: 2rem;
}

.destacado__minipost-cat {
  font-size: .85rem;
  padding-bottom: .5rem;
}

.destacado__minipost-title {
  font-family: $font-heading;
  font-size: 1.25rem;
  line-height: 1.7rem;

  a {
    text-decoration: none;
    transition: opacity .2s;

    &:hover {
      opacity: .6;
    }
  }
}

@media #{$breakpoints-medium} {
  .destacado__big-title {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .destacado__minipost {
    flex-flow: row wrap;
  }
}

@media #{$breakpoints-large} {
  .destacado {
    height: 90vh;
  }
  
  .destacado__big-title {
    font-size: 4rem;
    line-height: 4.35rem;
  }

  .destacado__minipost-box {
    margin-bottom: 0;
  }
}

@media #{$breakpoints-xlarge} {
  .destacado__big-title {
    font-size: 4.25rem;
    line-height: 4.5rem;
  }
}