// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

$size-medium: 768px;
$size-large: 1024px;
$size-xlarge: 1280px;
$size-xxlarge: 1440px;
$size-xxxlarge: 1680px;