// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

$font-size-small: .65rem;
$font-size-medium: .85rem;
$font-size-large: 1rem;
$font-size-largex: 1.25rem;
$font-size-largexx: 2rem;
$font-size-largexxx: 3rem;