// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>


// Global

$font-heading: 'Satoshi-Medium', sans-serif;
$font-body: 'Work Sans', sans-serif;
$font-main: "EB Garamond", serif;