$single-noticias-background: $color-white;
$single-noticias-max-width: $row-max;
$single-noticias-intro-before-left: .5rem solid $color-corporative;
$single-noticias-intro-before-bottom: .35rem solid transparent;
$single-noticias-intro-before-top: $single-noticias-intro-before-bottom;
$single-noticias-meta-color: $color-ligth-gray;
$single-noticias-meta-font-family: $font-body;

.single-noticias {
  background: $single-noticias-background;
  margin: auto;
  max-width: $single-noticias-max-width;
  width: 100%;
}

.single-noticias__thumb {
  @include aspect-ratio(4,2);
}

.single-noticias__credits-photo {
  padding: 1rem;
}

.single-noticias__credits-photo {
  color: $color-dark-gray;
  font-family: $font-heading;
  font-style: italic;
  font-size: .75rem;
  text-align: right;
}

.single-noticias__content {
  padding: 1rem;
}

.single-noticias__title {
  font-family: $font-body;
  font-size: 1.75rem;
  max-width: 600px;
  padding: .5rem 0 1rem 0;
}

.single-noticias__intro {
  color: $color-dark-gray;
  font-family: $font-heading;
  font-size: 1.05rem;
  line-height: 1.55rem;
}

.single-noticias__intro:before {
  border-left: $single-noticias-intro-before-left;
  border-top: $single-noticias-intro-before-top;
  border-bottom: $single-noticias-intro-before-bottom; 
  content: '';
  display: inline-block;
  height: 0; 
  margin-right: .25rem;
  transform: translateY(-2px);
  width: 0; 
}

.single-noticias__meta {
  color: $single-noticias-meta-color;
  font-family: $single-noticias-meta-font-family;
  font-size: 1rem;
  padding: 1rem 0;
}

.single-noticias__content--sidebar {
  .last-news {
    display: none;
  }
}


@media #{$breakpoints-medium} {
  .single-noticias__title {
    font-size: 1.85rem;
  }
}

@media #{$breakpoints-large} {
  .single-noticias__content {
    padding: 2rem 3rem;
  }

  .single-noticias__credits-photo {
    padding: 1rem 2rem 0 2rem;
  }

  .single-noticias__title {
    font-size: 2rem;
  }

  .single-noticias__intro {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .single-noticias__content--sidebar {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;

    .single-noticias__main {
      flex: 0 1 60%;
      max-width: $row-min;
    }

    .last-news {
      display: block;
      flex: 0 1 20%;
      margin-left: 4rem;
    }
  }
}

@media #{$breakpoints-xlarge} {
  .single-noticias__title {
    font-size: 2.5rem;
  }
}
