$single-opinion-background: $color-white;
$single-opinion-max-width: $row-max;
$single-opinion-main-max-width: $row-min;
$single-opinion-title-font-family: $font-heading;
$single-opinion-meta-font-family: $font-body;

.single-opinion {
  background: $single-opinion-background;
  margin: auto;
  max-width: $single-opinion-max-width;
  width: 100%;
}

.single-opinion__category,
.single-opinion__title,
.single-opinion__meta {
  padding-bottom: 1rem;
  text-align: center;
}

.single-opinion__category {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
}

.single-opinion__category:before {
  background: $color-black;
  content: '';
  display: block;
  height: 2px;
  margin: 0 auto .5rem auto;
  width: 20px;
}

.single-opinion__title {
  font-family: $single-opinion-title-font-family;
  font-style: italic;
  font-size: 1.8rem;
  letter-spacing: -1px;
  line-height: 2.25rem;
  margin: auto;
  width: 90%;
}

.single-opinion__content {
  padding: 1rem;
}

.single-opinion__meta {
  color: $color-ligth-gray;
  font-family: $single-opinion-meta-font-family;
  padding: 1rem 0 2rem 0;
}

.single-opinion__main {
  margin: auto;
  max-width: $single-opinion-main-max-width;
}

.single-opinion__date {
  font-family: $font-heading;
  font-style: italic;
  color: $color-black;
  margin: auto;
  max-width: $row-min;
  padding-top: 2rem;
  width: auto;
}

@media #{$breakpoints-medium} {
  .single-opinion__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media #{$breakpoints-large} {
  .single-opinion__content {
    padding: 3rem;
  }

  .single-opinion__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}